@font-face {
    font-family: 'Arial';
    src: url(../assets/fonts/arial/arial-regular.ttf);
    font-style: regular;
    font-weight: 400;
}
@font-face {
    font-family: 'Georgia';
    src: url(../assets/fonts/georgia/georgia-regular.ttf);
    font-style: regular;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth;
}
body {
    width: 1280px;
    height: 1812px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1279.9px) {
    body {
        position: relative;
        width: 768px;
        height: 2492px;
        display: flex;
        flex-direction: column;
        margin: 0 auto; 
    }
} 
@media (max-width: 767.9px) {
    body {
        position: relative;
        width: 320px;
        height: 2578px;
        display: flex;
        flex-direction: column;
        margin: 0 auto; 
    }
} 
/* ----------------header----------------- */
.header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFFFFF;
    opacity: 0.8;
}
.header_content {
    padding: 30px 40px;
    width: 1200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.header_logo {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}
.logo_title {
    width: 186px;
    height: 35px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    /* для хувера */
    transition: 1s;
    text-align: center;
}
.logo_title:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.logo_text {
    width: 180px;
    height: 15px;
    left: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}
.header_menu {
    justify-content: space-between;
    align-items: center;
    height: 30px; 
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between; 
    list-style: none;

}
.header_list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between; 
    list-style: none;
}
.menu_link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    margin-left: 2em;
    text-decoration: none;
    /* для хувера */
    transition: 0.5s;
    text-align: center;
}
.menu_link.about{
    text-decoration: underline;
    color: #545454;
    /* эффект свечения кнопки меню */
    text-shadow: #545454  0 0 5px;
}
.menu_link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #545454;
    font-size: larger;
}

.header_burger {
    display: none;
}
@media (min-width: 768px) and (max-width: 1279.9px) {
    .header {
    width: 768px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFFFFF;
    opacity: 0.8;
    }
    .header_content {
        padding: 30px;
        width: 708px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }
}
@media (max-width: 767.9px) {
    .header {
    width: 320px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFFFFF;
    opacity: 0.8;
    }
    .header_content {
        padding: 30px 50px 30px 10px;
        width: 260px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        opacity: 0.8;
    }
    .header_menu{
        display: none;
    }
    .header_burger{
        display: contents;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #FFFFFF;
        opacity: 0.8;
    }
    .burger_logo {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-left: 20px;
    }
    /* -----------бургер----------- */
    .menu_btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 45px;
        right:50px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
    }
    
    .menu_btn > span,
    .menu_btn > span::before,
    .menu_btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition-duration: .25s;
    }
    .menu_btn > span::before {
        content: '';
        top: -8px;
    }
    .menu_btn > span::after {
        content: '';
        top: 8px;
    }
    .menu_box{
        display: block;
        position: absolute;
        visibility: hidden;
        top: 0;
        right: -320px;
        width: 320px;
        height: 823px;
        background-color: #292929;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: 1s;
      }
      .menu_list {
          margin: 158px 38px 248px 39px;
          width: 243px;
          height: 327px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-content: center;
          list-style: none;
    
      }
      .menu_line {
        font-family: 'Arial';
        font-style: regular;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        text-decoration: none;
        color: #FFFFFF;
        /* для хувера */
        transition: 0.5s;
        text-align: center;
        height: 51px;
        width:auto;
    }
    .menu_line.about{
        text-decoration: underline;
        color: #F1CDB3;
        /* эффект свечения кнопки меню */
        text-shadow: #F1CDB3  0 0 10px;
        height: 51px;
        width: auto;
    }
       
      #menu_toggle{
        opacity: 0;
      }
       
      #menu_toggle:checked ~ .menu_btn > span{
        transform: rotate(45deg);
      }
      #menu_toggle:checked ~ .menu_btn > span::before{
        top: 0;
        transform: rotate(0);
      }
      #menu_toggle:checked ~ .menu_btn > span::after{
        top: 0;
        transform: rotate(90deg);
      }
      #menu_toggle:checked ~ .menu_box{
        visibility: visible;
        right: 0px;
      }

}
/* ----------------main----------------- */
.main {
    height: 1324px;
    background-color: #F6F6F6;
}
.main_content {
    height: 1162px;
    padding: 80px 40px 100px 40px;
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 135px 930px 97px;
    align-content: center;
}
.main_title {
    width: 400px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    line-height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    color: #545454;
}
.card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;

}
.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: #F1CDB3  0 0 10px;
}
.pet_name {
    width: 83px;
    height: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.pt_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 100px;
    /* шрифт текста */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: 1s;
}
.pt_btn:hover {
    cursor: pointer;
    background:#F1CDB3;
}
.gallery {
    display:grid;
    grid-template-rows: repeat(2, 435px);
    grid-template-columns: repeat(4, 270px);
    grid-column-gap: 40px;
}
.nav_btn {
    width: 340px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: center;
}
.btn{
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    background: #ffffff;
    font-size: larger;
    box-sizing: border-box;
    border-radius: 100px;
     /* для хувера */
     transition: 0.5s;
}
.btn:hover{
    cursor: pointer;
    background:#F1CDB3;
    transform: scale(1.1);
}
.page {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    background: #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
    

}
@media (min-width: 768px) and (max-width: 1279.9px) {
    .main {
    width: 768px;
    height: 1733px;
    }
    .main_content {
    width: 708px;
    height: 1603px;
    padding: 60px 30px 70px 30px;
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: 708px;
    grid-template-rows: 140px 1365px 92px;
    align-content: center;
    }
    .gallery {
        padding: 0 64px;
        width: 580px;
        height: 1365px;
        display:grid;
        grid-template-rows: repeat(3, 435px);
        grid-template-columns: repeat(2, 270px);
        grid-row-gap: 30px;
        grid-column-gap: 40px;
        grid-auto-rows: 435px;
        overflow: hidden;
    }
   
}
@media (max-width: 767.9px) {
    .main {
        width: 320px;
        height: 1649px;
    }
    .main_title {
        width: 300px;
        height: 64px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        line-height: 130%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        color: #545454;
    }
    .main_content {
        width: 300px;
        height: 1565px;
        padding: 42px 10px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 64px 1365px 52px;
        grid-row-gap: 42px;
        align-content: center;
    }
   
    .gallery {
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-items: center;
        width: 270px;
        height: 1365px;
        display:grid;
        grid-template-rows: repeat(3, 435px);
        grid-template-columns: 270px;
        grid-row-gap: 30px;
        overflow: hidden;
    }
    .nav_btn {
        width: 300px;
        height: 52px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-self: center;
        align-self: center;
    }

}
/* ----------------footer----------------- */
.footer {
    height: 350px;
    background-image: url(..//assets/footer_layout.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_content {
    padding: 40px 40px 0 40px;
    width: 1200px;
    height: 310px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer_title {
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer_info {
    width: 280px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_img {
    width: 300px;
    height: 310px;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1279.9px) {
    .footer {
        width: 768px;
        height: 639px;
        background-image: url(..//assets/footer_layout_768.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footer_content {
        padding: 30px 30px 0 30px;
        width: 708px;
        height: 234px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content:space-between;
        row-gap: 65px;

    }
    .footer_img {
        width: 300px;
        height: 310px;
        overflow: hidden;
    }
}
@media (max-width: 767.9px) {
    .footer {
        width: 320px;
        height: 809px;
        background-image: url(..//assets/footer_layout_768.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footer_content {
        padding: 30px 10px 0 10px;
        width: 300px;
        height: 779px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content:space-between;
        row-gap: 0;

    }
    .footer_info {
        width: 300px;
        height: 222px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer_title {
        width: 278px;
        height: 64px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        text-align: center;
    }
    .footer_img {
        width: 260px;
        height: 269px;
        background-size:cover;
        background-position: center;
        min-width: 100%;
    }
    
}